html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(45deg, #32527b, #c0c0c0, #32527b);
  background-image: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  text-align: center;
}
